<form autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>D&D Beyond Character URL</label>    
        <input type="url" name="ddbCharacterURL" value="{{ddbCharacterURL}}" placeholder="https://www.dndbeyond.com/profile/yourname/characters/123456"/>
        <p class="hint">Enter the URL to the D&D Beyond Character that matches this actor</p> 
    </div>

    <button type="submit" name="submit">
        <i class="far fa-save"></i> Save URL
    </button>
</form>